body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: lightslategrey;
    color: white;
}

#body_register header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    text-decoration: underline;
}

/* #body_register #submit_btn {
    cursor: pointer;
    background-color: blue;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    margin-top: 20px;
    border-radius: 20px;
} */

#section_admin_view div {
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #333;
    color: white;
}

#section_admin_view div:hover {
    background-color: #555;
}

#section_admin_view div a {
    color: white;
    text-decoration: none;
    border: 1px solid white;
    padding: 5px;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
}

table, tr, td, th, tbody, thead {
    border: 1px solid black;
    border-collapse: collapse;
}

table td, table th {
    padding: 5px;
}

table {
    margin: 20px auto;
}

table tr {
    padding: 10px;
}

#button_reserv {
    cursor: pointer;
    background-color: blue;
    color: white;
    font-weight: bold;
    font-size: 15px;
    padding: 10px;
    border-radius: 20px;
    margin: 50px;
}

#div_ma_reservation {
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #333;
    color: white;
    text-align: center;
}